doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= 'express examples for Contensis management api'
    nav
      h3= 'Navigation: '
      p
       div
          a(href="/") Home 
        div
          a(href="/entries") Entries 
        div
          a(href="/contenttypes") Content types 
    main
      block content
